/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.side-panel {
  width: 300px;
  height: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-info {
  padding-left: 20px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.main-content {
  width: calc(100% - 320px);
  flex-grow: 1;
  padding-left: 20px;
}

h1 {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.thumbnail {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
}

footer {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
