body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  text-align: center;
  padding: 50px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10%;
  box-sizing: border-box;
}

.thumbnail {
  width: 18%;
  margin: 1%;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #000;
}

.thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}
